<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">


    <!--    连接池-->
    <bean class="com.alibaba.druid.pool.DruidDataSource" id="dataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://localhost:3306/test?useUnicode=true&amp;characterEncoding=utf8&amp;serverTimezone=UTC"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
    </bean>

    <!--    创建sqlSessionFactory-->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactory">
        <property name="dataSource" ref="dataSource"/>
        <property name="typeAliasesPackage" value="com.star.entity"/>
        <property name="mapperLocations">
            <list>
                <value>classpath:/UserDAOMapper.xml</value>
            </list>
        </property>
    </bean>

    <!--    创建DAO对象-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" id="scannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="com.star.dao"/>
    </bean>

    <bean class="com.star.service.UserServiceImpl" id="userService">
        <property name="userDAO" ref="userDAO"/>
    </bean>

    <!--    连接池获取连接进而控制事务-->
    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--    结尾为tx命名空间  引入上面id JDK&cglib-->
    <!--   从这里可以看出事务控制底层就是AOP-->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

    <bean class="com.star.action.RegAction" id="regAction">
        <property name="userService" ref="userService"/>
    </bean>



</beans>